{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}
    {% include 'navbars/admin.html.twig' %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <div class="small_form_wrapper">
       {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
